@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: brown;
    scroll-behavior: smooth
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

@layer base{
  body{
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-[#7de24e] 
  }
}
#__next{
    height: 100%;
    background-color: blue;
}



 /* ---------- Animation ---------- */
   @keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
   @keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }

  @keyframes itemRotation{
    0% {
        transform:  rotate(-360);
    }
    100% {
        transform:  rotate(-360deg);
    }
} 
  @keyframes itemRotation-left{
    0% {
        transform:  rotate(360);
    }
    100% {
        transform:  rotate(360deg);
    }
} 
/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
    position: relative;
    height:auto;
    width: auto;

  }
  
  /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
  #inner-orbit {
    position: absolute;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px #4A437F solid;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .inner-orbit-cirlces1 {
    position: absolute;
    top: 55px;
    left: -20px;
    animation:itemRotation 10s linear infinite;
  }
  .inner-orbit-cirlces2 {
    position: absolute;
    top: 55px;
    right: -20px;
    animation:itemRotation 10s linear infinite;

  }
/*   
  /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
  #middle-orbit {
    position: absolute;
    margin: auto;
    width: 250px;
    height: 250px;
    border: 1px #4A437F solid;
    border-radius: 100%;
    -webkit-animation: spin-left 15s linear infinite;
    animation: spin-left 15s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .middle-orbit-cirlces1 {
    position: absolute;
    top: 105px;
    left: -20px;

    animation:itemRotation-left 15s linear infinite;  
}
  .middle-orbit-cirlces2 {
    position: absolute;
    top: 105px;
    right: -20px;

    animation:itemRotation-left 15s linear infinite;
  }
  .middle-orbit-cirlces3 {
    position: absolute;
    top: -20px;
    left: 105px;
    animation:itemRotation-left 15s linear infinite;
  }
  .middle-orbit-cirlces4 {
    position: absolute;
    bottom: -20px;
    left: 105px;
    animation:itemRotation-left 15s linear infinite;
  }
  
  /* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
  #outer-orbit {
    position: absolute;
    margin: auto;
    width: 380px;
    height: 380px;
    border: 1px #4A437F solid;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
  }
  
  /* ---------- Repeating styles for the outer orbiting circles ---------- */
  .outer-orbit-cirlces1 {
    position: absolute;
    top: -10px;
    left: 100px;
    animation:itemRotation 20s linear infinite;

  } 
  .outer-orbit-cirlces2 {
    position: absolute;
    top: -9px;
    right: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces3 {
    position: absolute;
    bottom: -10px;
    left: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces4 {
    position: absolute;
    bottom: -10px;
    right: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces5 {
    position: absolute;
    right: -10px;
    top: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces6 {
    position: absolute;
    right: -10px;
    bottom: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces7 {
    position: absolute;
    left: -10px;
    top: 100px;
    animation:itemRotation 20s linear infinite;
  } 
  .outer-orbit-cirlces8 {
    position: absolute;
    left: -10px;
    bottom: 100px;
    animation:itemRotation 20s linear infinite;
  } 
   


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #7de24e; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7de24e }
  }

  .Typewriter{
    color: antiquewhite;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    margin-top: 20px;
  }
  .Typewriter__cursor{
    color: #7de24e;
    width: 10px;
  }


  .links:after {
    display:block;
    content: '';
    border-bottom: solid 3px #7de24e;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .links:hover:after { transform: scaleX(1); }


  /* .pyramid{
    width: 0; 
    height: 0; 
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    
    border-bottom: 85px solid black;
  } */


  .button_slide {
    color: #7de24e;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7de24e;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #7de24e;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-top: 20px;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #7de24e;
    color: #1a1b26;
  }


  @media only screen and (max-width: 1400px) {

    
    #circle-orbit-container {
      height:auto;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
    #inner-orbit {
      position: absolute;
      margin: auto;
      width: 80px;
      height: 80px;
      border: 1px #4A437F solid;
      /* border-radius: 100%; */
      -webkit-animation: spin-right 10s linear infinite;
      animation: spin-right 10s linear infinite;
    }
    
    /* ---------- Repeating styles for the inner orbiting circles ---------- */
    .inner-orbit-cirlces1 {
      position: absolute;
      top: 25px;
      left: -15px;
      animation:itemRotation 10s linear infinite;
      height: 30px;
      width: 30px;
    }
    .inner-orbit-cirlces2 {
      position: absolute;
      top: 25px;
      right: -15px;
      animation:itemRotation 10s linear infinite;
      height: 30px;
      width: 30px;
    }
  /*   
    /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
    #middle-orbit {
      position: absolute;
      margin: auto;
      width: 160px;
      height: 160px;
      border: 1px #4A437F solid;
      border-radius: 100%;
      -webkit-animation: spin-left 15s linear infinite;
      animation: spin-left 15s linear infinite;
    }
    
    /* ---------- Repeating styles for the inner orbiting circles ---------- */
    .middle-orbit-cirlces1 {
      position: absolute;
      top: 65px;
      left: -15px;
      animation:itemRotation-left 15s linear infinite;  
      height: 30px;
      width: 30px;
  }
    .middle-orbit-cirlces2 {
      position: absolute;
      top: 65px;
      right: -15px;
      animation:itemRotation-left 15s linear infinite;
      height: 33px;
      width: 33px;
    }
    .middle-orbit-cirlces3 {
      position: absolute;
      top: -15px;
      left: 65px;
      animation:itemRotation-left 15s linear infinite;
      height: 30px;
      width: 30px;
    }
    .middle-orbit-cirlces4 {
      position: absolute;
      bottom: -15px;
      left: 65px;
      animation:itemRotation-left 15s linear infinite;
      height: 30px;
      width: 30px;
    }
    
    /* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
    #outer-orbit {
      position: absolute;
      margin: auto;
      width: 250px;
      height: 250px;
      border: 1px #4A437F solid;
      /* border-radius: 100%; */
      -webkit-animation: spin-right 20s linear infinite;
      animation: spin-right 20s linear infinite;
    }
    
    /* ---------- Repeating styles for the outer orbiting circles ---------- */
    .outer-orbit-cirlces1 {
      position: absolute;
      top: -6px;
      left: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces2 {
      position: absolute;
      top: -6px;
      right: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces3 {
      position: absolute;
      bottom: -6px;
      left: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces4 {
      position: absolute;
      bottom: -6px;
      right: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces5 {
      position: absolute;
      right: -6px;
      top: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces6 {
      position: absolute;
      right: -6px;
      bottom: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces7 {
      position: absolute;
      left: -6px;
      top: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .outer-orbit-cirlces8 {
      position: absolute;
      left: -6px;
      bottom: 65px;
      animation:itemRotation 20s linear infinite;
      height: 30px;
      width: 30px;
    } 
    .logoReact{
      height: 40px;
      width: 40px;
    }
}